// space
$space-mini-1: 0.18rem;
$space-small-1: 0.25rem;
$space-small-2: 0.5rem;
$space-small-3: 0.75rem;
$space-medium-1: 1rem;
$space-medium-2: 1.5rem;
$space-medium-3: 2rem;
$space-large-1: 2.5rem;
$space-large-2: 3rem;
$space-large-3: 4rem;
$space-big: 5rem;

$card-item-height: 4rem;
$navbar-height: 3.25rem;